.form {
	font-family: 'Open Sans Condensed', arial, sans;
	width: 100%;
	background: #FFFFFF;
	margin: 0px 0px 0px 0px ;
	margin-top: 0px;
	padding: 0px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	font-size: 32px;
	font-weight: 100;	text-align: center;
	padding: 0px;
	width: 100%;
	margin: 0px 5px 5px 0px;

}
.form div{
	font-size: 30px;
	height: 60px;
	font-weight: bold;
}

.form input[type="text"],
.form select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
	margin: 0 auto;
}

.form input[type="button"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	margin: 0 auto;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	width: 50%;
	text-decoration: none;
	text-transform: uppercase;
}
.form input[type="button"]:hover{
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
